body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.main-content {
    display: none;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.title {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px 0px;
}

#gallery {
    margin: 20px 0px;
}


/* Navbar */

.navbar-brand img {
    margin-right: 10px;
}

/* Body */

#gallery {
    display: none;
}


/* Footer */

footer {
    background-color: #F8F9FA;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

footer .social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

footer .social-media a{
    padding: 0px 10px;
}

footer span {
    text-align: center;
}

a i {
    color: #5C5C5C;
}

a i:hover {
    color: #B9B9B9;
}

/* Home page */

.gallery-section {
    margin: 20px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-section button {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-radius: 0 !important;
}

#portraits {
    background-image: url("./section-images/portraits.jpg");
}

#nature {
    background-image: url("./section-images/nature.jpg");
}

#travel {
    background-image: url("./section-images/travel.jpg");
}

/* Form */

form {
    width: 90%;
    margin: 20px auto;
}

.inquiries {
    text-align: center;
    margin-bottom: 40px;
}

